# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# LaTeX auxiliares
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.fls
*.fdb_latexmk
*.synctex.gz

# Imágenes generadas
*.png

# Ignorar todos los PDF excepto uno
*.pdf
!presentacion.pdf